*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'DellaRespira';
    font-style: normal;
    src: url(../fonts/DellaRespira-Regular.ttf);
}

@font-face {
    font-family: 'Oranienbaum';
    font-style: normal;
    src: url(../fonts/Oranienbaum-Regular.ttf);
}

body {
    background-color: #F5F1F4;
}

.header {
    padding: 47px 65px 40px;
}

.logo {
    margin: 0 auto 80px;
    text-align: center;
    transition: all .3s ease-in-out;
}

.logo:hover {
    transform: rotate(360deg);
}

.logo img {
    width: 45%;
    height: auto;
}

/* Menu */

nav {
    position: relative;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    list-style-type: none;
}

.menu-item > a {
    position: relative;
    font-family: 'OpenSans';
    font-size: 48px;
    color: #8D6E63;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .3s ease-in-out;
    cursor: pointer;
}

.menu-item > a:hover {
    color: #5e4c46;
}

.nested-menu {
    display: none;
    position: absolute;
    min-width: 140px;
    background-color: #F5F1F4;
    font-family: 'OpenSans';
    font-size: 24px;
    border: 1px solid #75625c;
    z-index: 1;
}

.nested-menu li {
    margin-bottom: 10px;
    text-align: center;
}

.nested-menu li:last-child {
    margin-bottom: 0;
}

.nested-menu li a {
    text-decoration: none;
    color: #3E2723;
}

.menu-item:hover .nested-menu {
    display: block;
}

.menu-hide {
    position: absolute;
    left: -10px;
    bottom: 0;
    display: none;
    cursor: pointer;
}

.menu-hide__item1 {
    width: 34px;
    height: 4px;
    margin-bottom: 8px;
    background-color: #3E2723;
    transition: all 0.5s ease-in-out;
}

.menu-hide__item1.active {
    margin-top: 7px;
    margin-left: 10px;
    transform: rotate(45deg);
}

.menu-hide__item2 {
    width: 24px;
    height: 4px;
    background-color: #3E2723;
    transition: all 0.5s ease-in-out;
}

.menu-hide__item2.active {
    width: 34px;
    margin-top: -11px;
    margin-left: 10px;
    transform: rotate(-45deg);
}

.menu-hide__content {
    display: none;
    position: absolute;
    left: 0;
    top: 16px;
    width: 100%;
    padding: 3px 0;
    background-color: #F5F1F4;
    color: #3E2723;
    font-size: 18px;
    text-align: center;
    border-top: 1px solid #3E2723;
    z-index: 2;
}

.menu-hide__content.active {
    display: block;
}

.menu-hide__content li {
    padding-bottom: 5px;
}

.menu-hide__content li:last-child {
    padding-bottom: 0;
}

.menu-hide__content a {
    font-family: 'OpenSans';
    color: inherit;
    text-decoration: none;
}

/* /Menu */

.main {
    padding-bottom: 7px;
    border-bottom: 1px solid #BCAAA4;
}

.section-descr {
    position: relative;
}

.section-descr img {
    width: 100%;
    height: auto;
}

.descr-text {
    position: absolute;
    top: 70%;
    left: 5%;
    width: 40%;
    font-family: 'DellaRespira';
    font-weight: 500;
    font-size: 72px;
    line-height: 100px;
    color: #D9D9D9;
    text-align: center;
}

.section-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 110px 100px;
}

.about-title {
    width: 260px;
    height: 245px;
    padding-top: 85px;
    background-image: url(../icons/heart.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'Oranienbaum';
    font-size: 48px;
    font-weight: 300;
    line-height: 55px;
    text-align: center;
    color: #000000;
    transition: all .5s ease-in-out;
}

.about-title:hover {
    transform: rotate(360deg);
}

.about-text {
    width: 70%;
    font-family: 'Oranienbaum';
    font-weight: normal;
    font-size: 48px;
    line-height: 55px;
    text-align: center;
    color: #000000;
    transition: color .3s ease-in-out;
}

.about-text:hover {
    color: #75625c;
}

.section-play {
    position: relative;
    text-align: center;
}

.section-play img {
    width: 100%;
    height: auto;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
}

.play-text {
    display: inline-block;
    position: absolute;
    right: 10%;
    bottom: 10%;
    font-family: 'DellaRespira';
    font-weight: 500;
    font-size: 48px;
    line-height: 66px;
    color: #423936;
    text-transform: uppercase;
}

.play-text::after {
    content: "";
    position: absolute;
    left: calc(100% + 20px);
    top: 50%;
    width: 58px;
    height: 63px;
    background-image: url(../icons/play.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateY(-50%);
}

.section-offers {
    padding: 70px 100px 20px;
    border-bottom: 1px solid #BCAAA4;
}

.title {
    margin-bottom: 95px;
    font-family: 'DellaRespira';
    font-weight: 500;
    font-size: 64px;
    text-align: center;
    color: #000000;
}

.offers-items {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

.offers-item {
    width: 28%;
    margin-bottom: 60px;
    text-align: center;
}

.offers-item:hover
.offers-item__img img {
    transform: scale(1.1);
}

.offers-item:hover
.offers-item__title {
    color: #140d0c;
    font-weight: bold;
}

.offers-item__img {
    margin-bottom: 20px;
}

.offers-item__img img {
    width: 100%;
    height: auto;
    transition: all .3s ease-in-out;
}

.offers-item__title {
    width: 45%;
    margin: 0 auto;
    font-family: 'Oranienbaum';
    font-size: 36px;
    font-weight: 300;
    line-height: 42px;
    color: #3E2723;
    transition: all .3s ease-in-out;
}

.section-calories {
    padding: 30px;
}

.calories-table {
    margin: 0 auto;
    font-family: Arial;
    font-size: 18px;
    text-align: center;
    border-collapse: collapse;
}

.calories-table .th {
    padding: 15px;
    background-color: #3E2723;
    color: #fff;
}

.th.first {
    text-align: left;
}

.tr td:first-child {
    padding: 15px;
    background-color: #38302f;
    color: #fff;
    text-align: left;
}

th, td {
    border-style: solid;
    border-width: 0 2px 2px 0;
    border-color: #fff;
}

td {
    background-color: #e2cccc;
}

.section-contact {
    padding: 30px;
    font-family: 'DellaRespira';
}

form {
    width: 60%;
    margin: 0 auto;
}

label {
    display: block;
}

.contact-input {
    display: block;
    width: 80%;
    height: 60px;
    margin: 0 auto 20px;
    padding: 10px;
    background-color: transparent;
    font-size: 20px;
    color: #000000;
    border: 3px solid #3E2723;
    border-radius: 10px;
    outline: none;
}

.contact-input::placeholder {
    color: #75625c;
}

.contact-input:focus {
    border: 3px solid #769727;
}

textarea.contact-input {
    height: 150px;
    border: 3px solid #75625c;
    resize: none;
}

.contact-button {
    display: block;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: transparent;
    border: 3px solid #3E2723;
    font-size: 18px;
    color: #3E2723;
    font-weight: bold;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}

.contact-button:hover {
    background-color: #3E2723;
    color: #D9D9D9;
    width: 250px;
}

.footer {
    padding: 70px 100px 60px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 115px;
}

.footer-content__item {
    width: 28%;
    transition: all .3s ease-in-out;
}

.footer-content__item:hover {
    transform: translate(20px, 20px);
}

.footer-content__title {
    margin-bottom: 56px;
    font-family: 'Oranienbaum';
    font-weight: normal;
    font-size: 41px;
    text-align: center;
    color: #3E2723;
}

.footer-content__info {
    font-family: 'Oranienbaum';
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #3E2723;
}

.footer-content__info > a {
    color: inherit;
    text-decoration: none;
    transition: color .3s ease-in-out;
}

.footer-content__info > a:hover {
    color: #5e4c46;
}

.footer-logo {
    margin: 0 auto;
    text-align: center;
}

.footer-logo img {
    width: 30%;
    height: auto;
}
